<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>DiveIntoCode &mdash; Application Tweet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <h1><%= @title %></h1>
      <nav>
        <ul>
          <li><a id="all" href="<%= tweets_index_path  %>">ALL</a></li>
          <li><a id="new" href="<%= new_tweet_path %>">NEW</a></li>
        </ul>
      </nav>
    </header>

    <main>

      <% flash.each do |type, msg| %>
        <div class="alert <%= type %>">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <%= msg %>
        </div>
      <% end %>

      <%= yield %>
    </main>

    <footer>
      <p>Copyright &copy; ludndev</p>
    </footer>
    <script>
        var close = document.getElementsByClassName("closebtn");
        var i;

        for (i = 0; i < close.length; i++) {
            close[i].onclick = function(){
                var div = this.parentElement;
                div.style.opacity = "0";
                setTimeout(function(){ div.style.display = "none"; }, 600);
            }
        }
    </script>
  </body>
</html>
